<figure
    class="c-fancy-gallery"
    data-module-fancy-gallery
    data-scroll
    data-scroll-css-progress
    data-scroll-module-progress
    data-scroll-offset="100%,100%"
    >
    <div class="c-fancy-gallery_sticky-area">
        <div
            class="c-fancy-gallery_sticky-overlay"
            data-scroll
            data-scroll-css-progress
            data-scroll-offset="100%,100%"
            data-scroll-ignore-fold
        ></div>
        <div class="c-fancy-gallery_sticky">
            <div class="c-fancy-gallery_grid" data-fancy-gallery="grid">
                {% for image in gallery.images %}
                    <div class="c-fancy-gallery_grid-item" data-fancy-gallery="grid-item">
                        {% include "@snippets/image.twig" with {
                            src: image.src,
                            width: image.width,
                            height: image.height,
                            attr: 'data-fancy-gallery="image"'
                        } only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="c-fancy-gallery_spacer"></div>

    <figcaption class="c-fancy-gallery_caption">
        {% for word in gallery.caption | split(' ') %}
            <span class="c-fancy-gallery_word">
                <span class="c-fancy-gallery_word-inner">{{word}}</span>
            </span>
        {% endfor %}
    </figcaption>
</figure>
