<figure
    class="c-fancy-gallery"
    data-module-fancy-gallery
    data-scroll
    data-scroll-css-progress
    data-scroll-module-progress
    data-scroll-offset="100%,100%"
    >
    <div class="c-fancy-gallery_sticky-area">
        <div
            class="c-fancy-gallery_sticky-overlay"
            data-scroll
            data-scroll-css-progress
            data-scroll-offset="100%,100%"
            data-scroll-ignore-fold
        ></div>
        <div class="c-fancy-gallery_sticky">
            <div class="c-fancy-gallery_grid" data-fancy-gallery="grid">
                {% for visual in gallery %}
                    <div class="c-fancy-gallery_grid-item" data-fancy-gallery="grid-item">
                        {%
                            render 'snippets/image',
                            src: visual.src,
                            width: visual.width,
                            height: visual.height,
                            attr: 'data-fancy-gallery="image"'
                        %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="c-fancy-gallery_spacer"></div>

    <figcaption class="c-fancy-gallery_caption" data-scroll data-scroll-css-progress data-scroll-module-progress data-module-fancy-gallery-caption data-scroll-offset="33%,100%">
        {% assign splitCaption = 'Where African Heritage Meets Minimalist Chic' | split: ' ' %}
        {% for word in splitCaption %}
            <span class="c-fancy-gallery_word">
                <span class="c-fancy-gallery_word-inner" data-fancy-gallery-caption="word">{{word}}</span>
            </span>
        {% endfor %}
    </figcaption>
</figure>
