<figure class="c-fancy-gallery">
    <div class="c-fancy-gallery_sticky-area">{# This will define the "stickiness" boundaries #}
        <div class="c-fancy-gallery_sticky">{# This is the element that will stick #}
            {# Visuals grid goes here #}
        </div>
    </div>

    <div class="c-fancy-gallery_spacer">{# This allows to occupy vertical space that'll define the scroll length of our animation #}</div>

    <figcaption class="c-fancy-gallery_caption">
        {# Split the sentence by words #}
        {% for word in gallery.caption | split(' ') %}
            <span class="c-fancy-gallery_word">
                <span class="c-fancy-gallery_word-inner">{{word}}</span>
            </span>
        {% endfor %}
    </figcaption>
</figure>
