<header class="c-hero" data-scroll data-scroll-css-progress>
    <h1 class="u-screen-reader-text">SWAG</h1>
    <figure class="c-hero_inner" aria-label="SWAG brand poster">
        <div class="c-hero_visual">
            <div class="c-hero_visual-inner">
                {% render 'snippets/image', src: '/assets/images/hero.jpg', width: 700, height: 940, attr: 'data-scroll data-scroll-speed="-0.1"' %}
            </div>
        </div>

        {% render 'snippets/logo', classes: 'c-hero_logo' %}
    </figure>
</header>
