<header>
    <h1 class="u-screen-reader-text">{{ site.title }}</h1>

    <figure class="c-hero" aria-label="{{ site.hero_label }}" data-scroll data-scroll-css-progress>
        <div class="c-hero_image-wrapper">
            <div class="c-hero_image">
                {%
                    render 'snippets/image',
                    src: '/assets/images/hero.jpg',
                    width: 700,
                    height: 940,
                    is_lazy: false,
                    attr: 'data-scroll data-scroll-speed="-0.1"'
                %}
            </div>
        </div>

        {%
            render 'snippets/logo',
            classes: 'c-hero_logo'
        %}
    </figure>
</header>
