<div class="c-nav">
    <nav class="c-nav_group">
        <ul class="c-nav_list">
            <li class="c-nav_item"><a href="#">All</a></li>
        </ul>
    </nav>

    <nav class="c-nav_group">
        <ul class="c-nav_list">
            <li class="c-nav_item"><a href="#">Gloves</a></li>
            <li class="c-nav_item"><a href="#">Hats</a></li>
            <li class="c-nav_item"><a href="#">Jackets</a></li>
        </ul>
    </nav>

    <nav class="c-nav_group">
        <ul class="c-nav_list">
            <li class="c-nav_item"><a href="#">Gloves</a></li>
            <li class="c-nav_item"><a href="#">Hats</a></li>
            <li class="c-nav_item"><a href="#">Jackets</a></li>
        </ul>
    </nav>

    <nav class="c-nav_group">
        <ul class="c-nav_list">
            <li class="c-nav_item"><a href="#">Gloves</a></li>
            <li class="c-nav_item"><a href="#">Hats</a></li>
            <li class="c-nav_item"><a href="#">Jackets</a></li>
        </ul>
    </nav>
</div>
