<section class="c-products || u-margin-large-bottom">
    <h2 class="u-screen-reader-text">{{products.title}}</h2>

    <div class="c-products_highlight">
        {% render 'snippets/product-tile', product: products.items[0] %}
    </div>

    <div data-scroll data-scroll-css-progress data-scroll-offset="-33%,66%">
        <div class="c-products_list">
            {% for product in products.items, offset: 1 %}
                {% render 'snippets/product-tile', classes: 'c-products_item || u-margin-medium-bottom', product: product %}
            {% endfor %}
        </div>
    </div>
</section>
