<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Workshop labin sandbox</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ '/assets/styles/main.css' | version }}">
    </head>
    <body>
        <main style="padding: 20px;">
            {% block %}{% endblock %}
        </main>

        <script src="{{ '/assets/scripts/app.js' | version }}" defer></script>
    </body>
</html>
