<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SWAG - not just a fashion brand</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="/assets/images/og.jpg" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🇭🇷</text></svg>">

        <link id="main-css" rel="stylesheet" href="{{ '/assets/styles/main.css' | version }}" media="print" onload="this.media='all'; this.onload=null; this.isLoaded=true">

        <style>
            {% critical_css %}
        </style>
    </head>
    <body>
        <div class="c-preloader"></div>

        <header class="c-header">
            <button class="c-header_menu-toggler">Menu</button>
            <a href="https://locomotive.ca/" rel="noopener noreferrer" target="_blank" class="c-header_main-cta">
                Shop <span aria-hidden="true">↗</span>
            </a>
            {% comment %} <nav class="c-menu"></nav> {% endcomment %}
        </header>

        <main data-module-scroll="main">
            {% block %}{% endblock %}
        </main>

        <footer
            class="c-footer"
            data-scroll
            data-scroll-repeat
            data-scroll-position="start,end"
            data-scroll-offset="0%,99%"
            data-scroll-css-progress
        >
            <div class="c-footer_marquee">
                <div class="c-footer_marquee_inner">
                    <div class="c-footer_marquee_list">
                        {% for item in marquee %}
                            <div class="c-footer_marquee_item">
                                {% render 'snippets/image', src: item.img.src, width: item.img.width, height: item.img.height %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="c-container">
                <div class="c-footer_inner">
                    {% render 'snippets/logo', classes: 'c-footer_logo' %}
                </div>
            </div>

            <div class="c-footer_copy">
                <div class="c-footer_copy_item">
                    <span>Typography, <a href="https://pangrampangram.com/products/neue-montreal">PP® Neue Montreal</a></span>
                </div>

                <div class="c-footer_copy_item">
                    <span>Website by <a href="https://locomotive.ca">Locomotive</a> & You</span>
                </div>
            </div>
        </footer>

        <script src="{{ '/assets/scripts/app.js' | version }}" defer></script>
    </body>
</html>
