{% layout 'base' %}

{% block %}
    <header>
        <h1>SWAG</h1>

        <img src="/assets/images/hero-image.jpg" alt="">
    </header>

    <p>Lorem ipsum dolor sit amet consectetur</p>


    <h2>Products</h2>
    <div style="display: flex; gap: 20px; margin-bottom: 20px;">
        {% for product in products %}
            {% render 'product-tile', product: product %}
        {% endfor %}
    </div>

    <h2>FAQ</h2>
    <div style="margin-bottom: 20px; margin-top: 20px;">
        {% for faq_item in faq.items %}
            {% render 'accordion',
                title: faq_item.title,
                content: faq_item.content
            %}
        {% endfor %}
    </div>
{% endblock %}
