{% liquid
    assign _title = title | default: nil
    assign _content = content | default: nil
    assign _attr = attr | default: nil
    assign _classes = classes | default: nil
    assign _modifiers = modifiers | default: nil

    if _classes != nil
        assign _classes = ' ' | append: _classes
    endif

    if _modifiers != nil
        assign _classes = ' ' | append: _modifiers | append: ' ' | append: _classes
    endif
%}

<details class="c-accordion {{ _classes }}" {{ _attr }}>
    <summary class="c-accordion_summary">{{ _title }}</summary>
    <div class="c-accordion_content">
        <div class="c-wysiwyg">
            {{ _content }}
        </div>
    </div>
</details>
