{% set _columns = columns | default(null) %}
{% set _classes = classes | default(null) %}
{% set _modifiers = modifiers | default(null) %}

{% if _classes != null %}
    {% set _classes = ' ' ~ _classes %}
{% endif %}

{% if _modifiers != null %}
    {% set _classes = ' ' ~ _modifiers ~ ' ' ~ _classes %}
{% endif %}

<div class="c-columns-text {{ _classes }}">
    {% for _column in _columns %}
        <div class="c-columns-text_item">
            {% if _column.content %}
                <div class="c-wysiwyg || c-columns-text_item_content">{{ _column.content }}</div>
            {% endif %}
        </div>
    {% endfor %}
</div>
