{% liquid
    assign _attr = attr | default: nil
    assign _classes = classes | default: nil
    assign _modifiers = modifiers | default: nil

    if _classes != nil
        assign _classes = ' ' | append: _classes
    endif

    if _modifiers != nil
        assign _classes = ' ' | append: _modifiers | append: ' ' | append: _classes
    endif
%}

<section class="c-editorial {{ _classes }}" {{ _attr }}>
    <div class="c-editorial_head">
        {{ head }}
    </div>
    <div class="c-editorial_content">
        {{ content }}
    </div>
</section>
