@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate3d(-10px,0,0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translate3d(10px,0,0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translate3d(0,10px,0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes slideInDown {
    0% {
        transform: translate3d(0,-10px,0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translate3d(0,-10px,0);
    }

    100% {
        transform: translate3d(0,0,0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes marquee {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-50%,0,0);
    }
}
