// ==========================================================================
// MIXINS
// ==========================================================================

// MARGINS
// ==========================================================================

// Medium
// ==========================================================================
@mixin -margin-medium-top {
    margin-top: responsive-size(20px, 40px, 1440px);
}

@mixin -margin-medium-bottom {
    margin-bottom: responsive-size(20px, 40px, 1440px);
}

// Large
// ==========================================================================
@mixin -margin-large-top {
    margin-top: responsive-size(80px, 250px, 1440px);
}

@mixin -margin-large-bottom {
    margin-bottom: responsive-size(80px, 250px, 1440px);
}

// Huge
// ==========================================================================
@mixin -margin-huge-top {
    margin-top: responsive-size(100px, 300px, 1440px);
}

@mixin -margin-huge-bottom {
    margin-bottom: responsive-size(100px, 300px, 1440px);
}

// PADDING
// ==========================================================================

// Medium
// ==========================================================================
@mixin -padding-medium-top {
    padding-top: responsive-size(20px, 40px, 1440px);
}

@mixin -padding-medium-bottom {
    padding-bottom: responsive-size(20px, 40px, 1440px);
}

// Large
// ==========================================================================
@mixin -padding-large-top {
    padding-top: responsive-size(80px, 250px, 1440px);
}

@mixin -padding-large-bottom {
    padding-bottom: responsive-size(80px, 250px, 1440px);
}

// Huge
// ==========================================================================
@mixin -padding-huge-top {
    padding-top: responsive-size(100px, 300px, 1440px);
}

@mixin -padding-huge-bottom {
    padding-bottom: responsive-size(100px, 300px, 1440px);
}

// ==========================================================================
// CLASSES
// ==========================================================================
.u-margin {
    &-medium {
        &-top {
            @include -margin-medium-top;
        }

        &-bottom {
            @include -margin-medium-bottom;
        }
    }

    &-large {
        &-top {
            @include -margin-large-top;
        }

        &-bottom {
            @include -margin-large-bottom;
        }
    }

    &-huge {
        &-top {
            @include -margin-huge-top;
        }

        &-bottom {
            @include -margin-huge-bottom;
        }
    }
}

.u-padding {
    &-medium {
        &-top {
            @include -padding-medium-top;
        }

        &-bottom {
            @include -padding-medium-bottom;
        }
    }

    &-large {
        &-top {
            @include -padding-large-top;
        }

        &-bottom {
            @include -padding-large-bottom;
        }
    }

    &-huge {
        &-top {
            @include -padding-huge-top;
        }

        &-bottom {
            @include -padding-huge-bottom;
        }
    }
}
