// ==========================================================================
// MIXINS
// ==========================================================================

// MEDIUM
// ==========================================================================
@mixin -margin-medium-top {
    margin-top: responsive-size(20px, 40px, 1440px);
}

@mixin -margin-medium-bottom {
    margin-bottom: responsive-size(20px, 40px, 1440px);
}

// LARGE
// ==========================================================================
@mixin -margin-large-top {
    margin-top: responsive-size(80px, 250px, 1440px);
}

@mixin -margin-large-bottom {
    margin-bottom: responsive-size(80px, 250px, 1440px);
}

// HUGE
// ==========================================================================
@mixin -margin-huge-top {
    margin-top: responsive-size(100px, 300px, 1440px);
}

@mixin -margin-huge-bottom {
    margin-bottom: responsive-size(100px, 300px, 1440px);
}

// ==========================================================================
// CLASSES
// ==========================================================================
.u-margin {
    &-medium {
        &-top {
            @include -margin-medium-top;
        }

        &-bottom {
            @include -margin-medium-bottom;
        }
    }

    &-large {
        &-top {
            @include -margin-large-top;
        }

        &-bottom {
            @include -margin-large-bottom;
        }
    }

    &-huge {
        &-top {
            @include -margin-huge-top;
        }

        &-bottom {
            @include -margin-huge-bottom;
        }
    }
}
