:root {
    // Colors
    --color: #{$color-lightest};
    --color-bg: #{$color-darkest};

    // Metrics
    --unit: 20px;
    --container-margin: var(--unit);

    // Font sizes
    --font-size-body: #{responsive-size(16px, 21px, 1440px)};
    --font-size-huge: 232px;

    // Grid
    --grid-columns: 12;
    --grid-gutter: var(--unit);
    --grid-margin: var(--unit);

    @media screen and (max-width: $from-medium) {
        --grid-columns: 4;
    }
}
