.c-accordion {
    border-top: 1px solid;
}

.c-accordion_summary {
    position: relative;
    padding: .75em 0;
    list-style: none;

    &:before {
        content: 'View';
        display: inline-block;
        float: right;
        opacity: .5;
        margin-left: 1em;
    }

    .c-accordion[open] & {
        &:before {
            content: 'Close'
        }
    }

    .c-accordion:hover &{
        &:before {
            opacity: 1;
        }
    }
}

.c-accordion_content {
    display: none;
    padding-top: .1em;
    padding-bottom: 2.5em;
    animation: none;

    .c-accordion[open] & {
        display: block;
        animation: slideInUp $speed $easing both;
    }
}
