.c-columns-text {
    display: grid;
    gap: var(--grid-gutter);
    width: 100%;

    @media (min-width: $from-medium) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: $to-medium) {
        grid-template-columns: repeat(1, 1fr);
    }
}
