.c-editorial {
    @include -container;
    display: flex;
    justify-content: space-between;
    gap: var(--grid-gutter);

    @media (max-width: $to-medium) {
        flex-direction: column;
    }
}

.c-editorial_head {
    width: grid-space(math.div(6,12));
}

.c-editorial_content {
    flex: 1;
}
