// STRUCTURE
// ==========================================================================
.c-fancy-gallery {
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    // Fix for safari iOS not registering the clip-path without this (probably bc of combination w/ sticky elements)
    background: url('data:image/gif;base64,R0lGODlhAQABAAAAACw=');
}

// STICKY
// ==========================================================================
.c-fancy-gallery_sticky-area {
    position: absolute;
    top: -100vh;
    left: 0;
    height: calc(100% + 200vh);
    width: 100%;
}

// Actual sticky element
.c-fancy-gallery_sticky {
    position: sticky;
    top: 0;left: 0;
    width: vw(100);
    height: vh(100);
    z-index: 10;
    overflow: hidden;
}

// SPACER
// ==========================================================================
// This allows us to control the scroll-length before the caption part
.c-fancy-gallery_spacer {
    // Desktop-ish
    @media (min-width: $from-small) {
        height: 200vh;
    }
    // Mobile-ish
    @media (max-width: $to-small) {
        height: 100vh;
    }
}

// CAPTION
// ==========================================================================
.c-fancy-gallery_caption {
    position: relative;
    text-align: center;
    font-size: var(--font-size-huge);
    line-height: 0.85;
    @include -padding-huge-bottom;

    // OVER-ENGINEERED PROGRESS DEBUG
    // counter-reset: progress calc(var(--progress) * 100);
    // &:before {
    //     display: block;
    //     content: counter(progress); // Use counter hack because `content` only allows strings, not numbers :(
    //     position: sticky;
    //     top: 0;
    //     right: 0;
    //     color: red;
    //     z-index: 9999;
    //     font-size: 21px;
    //     text-align: right;
    // }
}

.c-fancy-gallery_word {
    display: block;
    clip-path: polygon(0% 0%, 100% 0%, 100% 115%, 0% 115%); // Custom mask area, gives more control than overflow
}

.c-fancy-gallery_word-inner {
    display: block; // Need those as block to support transform properties added by GSAP
}
