// STRUCTURE
// ==========================================================================
.c-fancy-gallery {
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    // Fix for safari iOS not registering the clip-path without this (probably bc of combination w/ sticky elements)
    background: url('data:image/gif;base64,R0lGODlhAQABAAAAACw=');
}

// STICKY
// ==========================================================================
.c-fancy-gallery_sticky-area {
    position: absolute;
    top: -100vh;
    left: 0;
    height: calc(100% + 200vh);
    width: 100%;
}

// Overlay for fade in on scroll
.c-fancy-gallery_sticky-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: vh(200);
    background-color: var(--color-bg);
    opacity: calc(1 - var(--progress));
    z-index: 50;
    pointer-events: none;

    @media (max-width: $to-small) {
        display: none;
    }
}

// Actual sticky element
.c-fancy-gallery_sticky {
    position: sticky;
    top: 0;left: 0;
    width: vw(100);
    height: vh(100);
    z-index: 10;
    overflow: hidden;

    // OVER-ENGINEERED PROGRESS DEBUG
    // counter-reset: progress calc(var(--progress) * 100);
    // &:before {
    //     display: block;
    //     content: counter(progress); // Use counter hack because `content` only allows strings, not numbers :(
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     color: chartreuse;
    //     z-index: 9999;
    // }
}

// GRID
// ==========================================================================
.c-fancy-gallery_grid {
    position: absolute;
    min-height: 100%; // Allow height to be higher than 100% to preserve images aspect-ratio, ok as long as the container is center
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    gap: 2.5vw var(--grid-gutter);
    overflow: hidden;

    // Grid on desktop-ish
    @media (min-width: $from-small) {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: var(--container-margin); // Could've used `-container` include but we also need vertical padding so easier this way
    }

    // Flex on mobile-ish
    @media (max-width: $to-small) {
        display: flex;
    }
}

.c-fancy-gallery_grid-item {
    position: relative;
    background-color: var(--color-bg);

    // Desktop-ish
    @media (min-width: $from-small) {
        &:first-child {
            grid-column: 7 / 9;
            grid-row: 2 / 3;
            z-index: 10;
        }

        // First row
        // ==========================================================================
        &:nth-child(2) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        &:nth-child(3) {
            grid-column: 4 / 6;
            grid-row: 1 / 2;
        }

        &:nth-child(4) {
            grid-column: -3 / -1;
            grid-row: 1 / 2;
        }

        // Second row
        // ==========================================================================
        &:nth-child(5) {
            grid-column: 4 / 6;
            grid-row: 2 / 3;
        }

        // Third row
        // ==========================================================================
        &:nth-child(6) {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }

        &:nth-child(7) {
            grid-column: 7 / 9;
            grid-row: 3 / 4;
        }

        &:nth-child(8) {
            grid-column: -3 / -1;
            grid-row: 3 / 4;
        }
    }

    // Mobile-ish
    @media (max-width: $to-small) {
        width: 50vw;
        display: none;

        // Only display first 3 items
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                display: block;
            }
        }

        // Customize order
        &:nth-child(1) {
            order: 2;
        }
        &:nth-child(2) {
            order: 1;
        }
        &:nth-child(3) {
            order: 3;
        }
    }
}

// SPACER
// ==========================================================================
// This allows us to control the scroll-length before the caption part
.c-fancy-gallery_spacer {
    // Desktop-ish
    @media (min-width: $from-small) {
        height: 200vh;
    }
    // Mobile-ish
    @media (max-width: $to-small) {
        height: 100vh;
    }
}

// CAPTION
// ==========================================================================
.c-fancy-gallery_caption {
    position: relative;
    text-align: center;
    font-size: var(--font-size-huge);
    line-height: 0.85;
    @include -padding-huge-bottom;

    // Mobile-ish
    @media (max-width: $to-small) {
        @include -padding-huge-top;
        z-index: 50;

        // Gradient overlay to improve readability
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200%;
            background: linear-gradient(0deg, var(--color-bg) 40%, transparent 100%);
            opacity: 0.5;
        }
    }

    // OVER-ENGINEERED PROGRESS DEBUG
    // counter-reset: progress calc(var(--progress) * 100);
    // &:before {
    //     display: block;
    //     content: counter(progress); // Use counter hack because `content` only allows strings, not numbers :(
    //     position: sticky;
    //     top: 0;
    //     right: 0;
    //     color: red;
    //     z-index: 9999;
    //     font-size: 21px;
    //     text-align: right;
    // }
}

.c-fancy-gallery_word {
    display: block;
    clip-path: polygon(0% 0%, 100% 0%, 100% 115%, 0% 115%); // Custom mask area, gives more control than overflow
}

.c-fancy-gallery_word-inner {
    display: block; // Need those as block to support transform properties added by GSAP
}
