.c-fancy-gallery {
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    // Fix for safari iOS not registering the clip-path without this (probably bc of combination w/ sticky elements)
    background: url('data:image/gif;base64,R0lGODlhAQABAAAAACw=');
}

.c-fancy-gallery_sticky-area {
    position: absolute;
    top: -100vh;
    left: 0;
    height: calc(100% + 200vh);
    width: 100%;

    // DEBUG
    // background-color: rgba(chartreuse, .5);
}

.c-fancy-gallery_sticky-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: vh(200);
    background-color: var(--color-bg);
    opacity: calc(1 - var(--progress));
    z-index: 50;
    pointer-events: none;

    @media (max-width: $to-small) {
        display: none;
    }
}

.c-fancy-gallery_sticky {
    position: sticky;
    top: 0;left: 0;
    width: vw(100);
    height: vh(100);
    z-index: 10;
    overflow: hidden;

    // DEBUG
    // counter-reset: progress calc(var(--progress) * 100);
    // &:before {
    //     display: block;
    //     content: counter(progress);
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     color: chartreuse;
    //     z-index: 9999;
    // }
}

.c-fancy-gallery_visuals {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    align-items: center;
    transform: translate(-50%,-50%);
    gap: 2.5vw var(--grid-gutter);
    overflow: hidden;

    @media (min-width: $from-small) {
        display: grid;
        padding: var(--container-margin);
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @media (max-width: $to-small) {
        width: auto;
        display: flex;
    }
}

.c-fancy-gallery_item {
    position: relative;
    background-color: var(--color-bg);

    @media (max-width: $to-small) {
        width: 50vw;
        display: none;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                display: block;
            }
        }

        &:nth-child(1) {
            order: 2;
        }
        &:nth-child(2) {
            order: 1;
        }
        &:nth-child(3) {
            order: 3;
        }
    }

    @media (min-width: $from-small) {
        &:first-child {
            grid-column: 7 / 9;
            grid-row: 2 / 3;
            z-index: 10;
        }

        // FIRST ROW
        // ==========================================================================

        &:nth-child(2) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        &:nth-child(3) {
            grid-column: 4 / 6;
            grid-row: 1 / 2;
        }

        &:nth-child(4) {
            grid-column: -3 / -1;
            grid-row: 1 / 2;
        }

        // SECOND ROW
        // ==========================================================================
        &:nth-child(5) {
            grid-column: 4 / 6;
            grid-row: 2 / 3;
        }

        // THIRD ROW
        // ==========================================================================
        &:nth-child(6) {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }

        &:nth-child(7) {
            grid-column: 7 / 9;
            grid-row: 3 / 4;
        }

        &:nth-child(8) {
            grid-column: -3 / -1;
            grid-row: 3 / 4;
        }
    }
}

.c-fancy-gallery_spacer {
    @media (min-width: $from-small) {
        height: 200vh;
    }

    @media (max-width: $to-small) {
        height: 100vh;
    }
}

.c-fancy-gallery_caption {
    position: relative;
    @include -padding-huge-bottom;
    font-size: var(--font-size-huge);
    line-height: 0.85;
    text-align: center;

    @media (max-width: $to-small) {
        z-index: 50;
        @include -padding-huge-top;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200%;
            background: linear-gradient(0deg, var(--color-bg) 40%, transparent 100%);
            opacity: 0.5;
        }
    }

    // DEBUG
    // counter-reset: progress calc(var(--progress) * 100);
    // &:before {
    //     display: block;
    //     content: counter(progress);
    //     position: sticky;
    //     top: 0;
    //     right: 0;
    //     color: red;
    //     z-index: 9999;
    //     font-size: 21px;
    //     text-align: right;
    // }
}

.c-fancy-gallery_word {
    display: block;
    clip-path: polygon(0% 0%, 100% 0%, 100% 115%, 0% 115%);
}

.c-fancy-gallery_word-inner {
    display: block;
}
