.c-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: vh(100);
    padding: var(--grid-margin);
    padding-top: vw(25);
}

// VISUAL
// ==========================================================================
.c-hero_image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;

    // Desktop-ish
    // Landscape
    @media (min-width: $from-small) and (min-aspect-ratio: 1 / 1 ) {
        width: grid-space(math.div(3,12));
    }
    // Portrait
    @media (min-width: $from-small) and (max-aspect-ratio: 1 / 1) {
        width: 40vw;
    }

    // Mobile-ish
    // Landscape
    @media (max-width: $to-small) and (min-aspect-ratio: 1 / 1) {
        width: calc(700/940 * 75vh); // Translates to: we want height to be 75vh
    }

    // Portrait
    @media (max-width: $to-small) and (max-aspect-ratio: 1 / 1) {
        width: 50vw;
        transform: translate(-50%,-66%);
    }
}

.c-hero_image {
    html.is-loaded & {
        animation: slideDown 2s $easing;
    }
}

// LOGO
// ==========================================================================
.c-hero_logo {
    transform: translate3d(0,0,0) scaleY(calc(1 + var(--progress)));
    transform-origin: center bottom;
    overflow: visible;

    @for $i from 1 through 4 {
        html.is-ready & path:nth-child(#{$i}) {
            animation: logoCharReveal 1s $easing #{1s * 0.1 * $i} both;
        }
    }
}

@keyframes logoCharReveal {
    0% { opacity: 0; transform: translate3d(0,-50%,0); }
    100% { opacity: 1; transform: translate3d(0,0%,0); }
}
