.c-hero {

}

.c-hero_inner {
    display: flex;
    padding: var(--grid-margin);
    padding-top: 25vw;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
}

.c-hero_visual {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;

    @media (min-width: $from-small) {
        width: 100% * math.div(3,12);
    }

    @media (max-width: $to-small) and (min-aspect-ratio: 1 / 1) {
        width: calc(700/940 * 75vmin);
    }

    @media (max-width: $to-small) and (max-aspect-ratio: 1 / 1) {
        width: calc(940/700 * 50vmin);
    }
}

html.is-loaded .c-hero_visual-inner {
    animation: slideDown 2s $easing;
}

.c-hero_logo {
    transform: translate3d(0,0,0) scaleY(calc(1 + var(--progress)));
    transform-origin: center bottom;
    overflow: visible;

    @for $i from 1 through 4 {
        html.is-ready & path:nth-child(#{$i}) {
            animation: logoCharReveal 1s $easing #{1s * 0.1 * $i} both;
        }
    }
}

@keyframes logoCharReveal {
    0% { opacity: 0; transform: translate3d(0,-50%,0); }
    100% { opacity: 1; transform: translate3d(0,0%,0); }
}
