.c-image {
    background-color: rgba(lighten($color-darkest, 10%), 0.5);
}

.c-image_img {
    .c-image.-lazy-load & {
        opacity: 0;
        transition: opacity $speed $easing;

        &.is-loaded {
            opacity: 1;;
        }
    }
}
