.c-product-tile {
    position: relative;
}

.c-product-tile_image {
    .c-products_highlight & {
        margin-left: calc(var(--container-margin) * -1);
        width: calc(100% + var(--container-margin) * 2);
    }

    .c-product-tile:hover &,
    .c-product-tile:focus-within & {
        transform: scaleX(-1);
    }
}

.c-product-tile_content {
    position: relative;
    padding-top: .5em;
}

.c-product-tile_title {
    margin-bottom: 0;
}

.c-product-tile_tag {
    display: inline-block;
    margin-right: .5em;
    opacity: .5;

    .c-product-tile:hover &,
    .c-product-tile:focus-within & {
        opacity: 1;
    }
}

.c-product-tile_price {
    display: block;
    margin-top: 1em;
}

.c-product-tile_cta {
    position: absolute;
    top: .5em;right: 0;

    &:before {
        content: '(+)';
    }

    .c-product-tile:hover &,
    .c-product-tile:focus-within & {
        &:before {
            content: 'Details';
            text-decoration: underline;
        }
    }
}

.c-product-tile_link {
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    z-index: 10;
}
