.c-products {

}

.c-products_highlight {
    @include -margin-huge-bottom;
    margin-right: 0;
    margin-left: auto;

    @media (min-width: $from-small) {
        width: grid-space(math.div(1,2));
    }
}

.c-products_list {
    @include -container;
    display: grid;
    gap: var(--grid-gutter);

    @media (min-width: $from-medium) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $from-tiny) and (max-width: $to-small) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.c-products_item {
    transition: transform .125s $easing;

    @media (min-width: $from-medium) {
        @for $i from 1 through 4 {
            &:nth-child(4n+#{$i}) {
                transform: translate3d(0,calc((33% * #{$i - 2.5} * (1 - var(--progress)))),0);
            }
        }
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        @for $i from 1 through 3 {
            &:nth-child(3n+#{$i}) {
                transform: translate3d(0,calc((33% * #{$i - 1.5} * (1 - var(--progress)))),0);
            }
        }
    }

    @media (min-width: $from-tiny) and (max-width: $to-small) {
        @for $i from 1 through 2 {
            &:nth-child(2n+#{$i}) {
                transform: translate3d(0,calc((33% * #{$i - 1} * (1 - var(--progress)))),0);
            }
        }
    }
}
