.c-products {

}

.c-products_poster {
    @include -margin-medium-bottom;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.c-products_poster-image {
    transform-origin: var(--focus-point-x, "center") var(--focus-point-y, "center");
    transform: translate3d(0,0,0) scale(calc(1 + (1 - var(--progress)) * 0.5));
}

.c-products_highlight {
    @include -container;
    @include -margin-huge-bottom;
    width: grid-space(math.div(1,2));
    margin-right: 0;
    margin-left: auto;
}

.c-products_list {
    @include -container;
    display: grid;
    gap: var(--grid-gutter);

    @media (min-width: $from-medium) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $from-tiny) and (max-width: $to-small) {
        grid-template-columns: repeat(2, 1fr);
    }
}
