.c-splash-featured {
    position: relative;
    @include -margin-large-bottom;
}

.c-splash-featured_header {
    display: grid;
    gap: var(--grid-gutter);
    @include -margin-large-bottom;

    @media (min-width: $from-medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $to-medium) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.c-splash-featured_description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gutter);
}

.c-splash-featured_description_item {
    &:last-child {
        text-align: right;
    }
}

// ==========================================================================
// Canvas
// ==========================================================================
.c-splash-featured_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(chartreuse, 0.1);
    z-index: 10;
    pointer-events: none;
}

// ==========================================================================
// Marquee
// ==========================================================================
.c-splash-featured_marquee {
    overflow: hidden;
}

.c-splash-featured_marquee_list {
    display: inline-flex;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    animation-play-state: paused;

    // Only animate when in view
    .c-splash-featured.is-inview & {
        animation-play-state: running;
    }
}

.c-splash-featured_marquee_item {
    font-size: 17vw;
    margin-right: 7vw;
}

// ==========================================================================
// Columns text
// ==========================================================================
.c-splash-featured_columns-text {
    @include -margin-large-top;
}
