@font-face {
    font-family: 'PP Neue Montreal TT';
    src: url('/assets/fonts/PPNeueMontrealTT-Medium.woff2') format('woff2'),
        url('/assets/fonts/PPNeueMontrealTT-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: var(--font-size-body);
    font-family: 'PP Neue Montreal TT';
    color: var(--color);
    background-color: var(--color-bg);
    line-height: 1.2;
}
