body {
    font-size: var(--font-size-body);
    font-family: 'PP Neue Montreal TT';
    color: var(--color);
    background-color: var(--color-bg);
    line-height: 1.2;
}

// ==========================================================================
// Misc
// ==========================================================================
@keyframes marquee {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-50%,0,0);
    }
}
